<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestionPedidos.Properties.Settings.GestionPedidosConnectionString"
            connectionString="Data Source=PORTATIL-JUAN;Initial Catalog=GestionPedidos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GestionPedidos.Properties.Settings.Gestion_PedidosConnectionString"
            connectionString="Data Source=PORTATIL-JUAN;Initial Catalog=Gestion_Pedidos;Persist Security Info=True;User ID=sa;Password=juan"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>